.side-bar {
  flex: 0 1 15%;
  background-color: #7851a9;

  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 0 1 85%;

  background-color: #333333;
}

.modern-button {
  width: 100%;
  background: none;
  border: none;
}

.modern-button:hover {
  background-color: #ffc107;
}

.padding1rem {
  padding: 1rem;
}

.flex-grow95 {
  flex-grow: 0.95;
}

.content-title {
  color: #7851a9;
  margin: 2rem;
}

.form-buffer {
  background-color: #7851a9;
  padding: 2rem;
  border-radius: 1rem;
}

.crest {
  width: 100%;
}

.selected {
  background-color: #ffc107;
}
